* {
    /* border: 1px solid gray; */
}

body {
    margin: 0;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
}

header, main{
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
}


nav {
    /* background-color: silver; */
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

nav a img{
    width: 45px;
}

nav ul{
    display: none;
}

header img {
    width: 200px;
    border-radius: 100%
}

header {
  text-align: center;
  margin: 0 auto 0 auto;
}

p {
    padding: 0 5%;
}

h1 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards img {
    width: 90px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 100%;
}

.card {
    text-align: center;
}

section > p {
    text-align: center;
}

footer {
    background-color: silver;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    padding: 10px;
}

.hidden {
    display: none;
}

ul {
    margin: 0;
    padding: auto 0;
    list-style: none;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (min-width:769px){
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card > div{
        display: flex;
        justify-content: space-between;
        height: 110px;
    }

    .cards{
        display: block;
    }

    ul {
        list-style: none;
    }

    nav ul li{
        display: inline;
        padding: 10px;
    }

    nav > a{
        display: none;
    }

    nav ul{
        display: inline;
    }

    img.logo{
        width: 60px;
    }

    .hidden{
        text-align: center;
        display: block;
        
    }

    .hidden p{
        margin: 0;
    }

    


}

